/* Apply a natural box layout model to all elements, but allowing components to change 
    ~ Paul Irish ~
*/

html {
    box-sizing: border-box;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



/*A good practice for have responsive images is reset the img adding a max-width property of 100%*/

img {
    max-width: 100%;
    height: auto;
}


body {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.img_title {
    width: 100%;
    height: 50vh;
}

.below-image-background {
    background-color: rgb(128, 128, 128);
    text-align: center;
    width: 100%;
    height: 50vh;
    margin-top: -5px;
}

.below-image-background img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 10px solid rgb(73, 73, 73);
    margin: 50px;

}